<% layout_default(buf, function (buf) { %>
<section id="wrapper">
<h1><%= title %></h1>
<h2><%= description %></h2>
<div id="list-article">
<article class="block-article">
<header class="block-article-title">ニュース記事のタイトル</header>
<footer class="block-article-meta">
<ul>
<li class="txt-article-category category-news">ニュース</li>
<li class="txt-article-date">2013/5/1</li>
</ul>
</footer>
<!-- /.block-article --></article>
<article class="block-article">
<header class="block-article-title">コラム記事のタイトル</header>
<footer class="block-article-meta">
<ul>
<li class="txt-article-category category-column">コラム</li>
<li class="txt-article-date">2013/4/1</li>
</ul>
</footer>
<!-- /.block-article --></article>
<article class="block-article">
<header class="block-article-title">ニュース記事のタイトル</header>
<footer class="block-article-meta">
<ul>
<li class="txt-article-category category-news">ニュース</li>
<li class="txt-article-date">2013/3/1</li>
</ul>
</footer>
<!-- /.block-article --></article>
<!-- /#list-article --></div>
<!-- /#wrapper --></section>
<% }) %>
